<div class="h1 text-center">
  Events
</div>
<h3 class="text-center">
  Year:{{currentYear}} Week Number: {{currentViewWeek}} <span [hidden]="currentViewWeek != currentWeek">(Current Week)</span>
</h3>

<button (click)="clickPreviousBtn()" [disabled]="statusPrevBtn()" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
</button>

<button (click)="clickNextBtn()" [disabled]="statusNextBtn()" type="button" class="btn btn-default pull-right" aria-label="Left Align">
  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</button>
<div class="container container-fluid">

<div *ngFor="let ed of getEventsByDayByWeekNo(currentViewWeek)" class = "table">
 <table class = "table">
 <tr class= "dateForSchedule">
   <td colspan="2">{{ed.date | date: 'EEEE, MMMM d'}}</td>     
   </tr>
  <tr *ngFor="let e of ed.events">
    <td class="eventTime">{{e.eventDateTimeFrom | date: 'hh:mm a'}} - {{e.eventDateTimeTo | date: 'hh:mm a'}}</td> 
    <td class="activityDescr"> {{e.activityDescr}} </td>
    </tr>
 </table>
</div>
<h3 class = "text-center text-info" *ngIf = "events1.length == 0" >No events availabe for this period</h3>