<div class="h1 text-center">
  Events
</div>
<h3 class="text-center">
  Year:{{currentYear}} Week Number: {{currentViewWeek}} <span [hidden]="currentViewWeek != currentWeek">(Current Week)</span>
</h3>

<button (click)="clickPreviousBtn()" [disabled]="disablePrevBtn" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
</button>

<button (click)="clickNextBtn()" [disabled]="disableNextBtn" type="button" class="btn btn-default pull-right" aria-label="Left Align">
  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</button>
<div class="container container-fluid">

  <!--<table class="table table-striped">
    <thead>
      <tr>
        <th>Date/Day</th>
        <th>From</th>
        <th>To</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of events1">
        
        <td>{{c.eventDateTimeFrom | date: 'MMMM d, EEEE'}}</td>
        <td>{{c.eventDateTimeFrom | date: 'hh:mm a'}}</td>
        <td>{{c.eventDateTimeTo | date: 'hh:mm a'}}</td>
        <td>{{c.activity.activityDescription}}</td>
    </tbody>
  </table>
</div>-->

<div *ngFor="let ed of getEventsByDayByWeekNo(currentViewWeek)" class = "table">
 <h5 class= "text-center">{{ed.date | date: 'EEEE, MMMM d'}}</h5>
 <table class = "table table-striped">
  <tr *ngFor="let e of ed.events">
    <td>{{e.eventDateTimeFrom | date: 'hh:mm a'}} - {{e.eventDateTimeTo | date: 'hh:mm a'}}</td> 
    <td> {{e.activityDescr}} </td>
    </tr>
 </table>
</div>