<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ZenithSociety</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/events">Events</a></li>
      <li *ngIf= "!checkLoggedIn()"> <a routerLink="/login">Login</a></li>
      <li *ngIf= "checkLoggedIn()"> <a (click)="logout()" href= "#" >Logout</a></li>
    </ul>     
  </div>
</nav>
<h1 class="welcomeMsg text-center"> Welcome to <span class="zenithSociety">Zenith Society</span></h1>
<router-outlet></router-outlet>
